[submodule "Romi.Standard.IO"]
	path = Romi.Standard.IO
	url = git@github.com:romi-project/Romi.Standard.IO.git
[submodule "Romi.Standard.Sockets"]
	path = Romi.Standard.Sockets
	url = git@github.com:romi-project/Romi.Standard.Sockets.git
