[submodule "Romi.Standard.IO"]
	path = Romi.Standard.IO
	url = git@github.com:romi-project/Romi.Standard.IO.git
[submodule "Romi.Standard.Socket"]
	path = Romi.Standard.Socket
	url = git@github.com:romi-project/Romi.Standard.Socket.git
